.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f1;

  .container {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;

    .nav-list {
      display: flex;
      align-items: center;

      li {
        width: 60px;
      }
    }
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}