.comment-container {
  width: 650px;
  margin: 0 auto;
  .comment-title {
    text-align: center;
    margin-bottom: 20px;
    span {
      color: #8a9aa9;
      font-size: 16px;
      font-weight: 400;
      padding: 1.67rem 0 5px;
    }
  }
}
