body {
	background-color: #f4f5f5;
	color: #333;
}

.main-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}

.left-container {
	width: 700px;
	border-radius: 2px;
	// height: 1200px;
	background-color: #fff;
	margin-top: 1.2rem;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.selected {
	color: blue;
}
a:focus {
	outline: none;
}